* {
  padding: 0;
  margin: 0;
  font-family: SFMono-Regular;
  box-sizing: border-box;
}

/*debugging material*/
/*.debug {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
  
}*/

/* fonts */

@font-face {
  font-family: SFMono-Medium;
  src: url(/docs/fonts/SFMono/SFMono-Medium.ttf) format(truetype);
}
@font-face {
  font-family: SFMono-Regular;
  src: url(/docs/fonts/SFMono/SFMono-Regular.ttf) format(truetype);
}

@font-face {
  font-family: Cailbre-Regular;
  src: url(/docs/fonts/Calibre/Calibre-Regular.ttf) format(truetype);
}

:root {
  --graphite: #2b3a55;
  --YellowGreen: #baff39;
  --White: #ffffff;
}

body {
  background-color: #7a7a7a;
}

/*Splash Screen*/

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 200;
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: -10;
  transition: all 1s;
}

.one {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
  margin-top: 0px;
}

@keyframes myFrames {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-200px);
  }
}

@keyframes myFrames2 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-210px);
  }
}

.hi {
  color: white;
  animation: 1s ease 750ms myFrames;
  animation-fill-mode: forwards;
  width: 500px;
  margin-top: 600px;
}

.three h2 {
  animation: 1s ease 2s myFrames2;
  animation-fill-mode: forwards;
  color: white;
  margin-top: 30px;
  font-family: Cailbre-Regular;
  font-size: 2rem;
}

.two {
  width: 1000px;
  height: 400px;
  background-color: black;
  z-index: 1;
  margin-top: 1500px;
}

.three {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

/* Header */

.header {
  width: 100%;
  height: 120px;
  background-color: #313133;
  position: relative;
  z-index: 9;
}

@keyframes myFrames3 {
  from {
    transform: translateY(-90px);
  }
  to {
    transform: translateY(0px);
  }
}
.navbar {
  background-color: #313133;
  height: 5rem;
  font-size: 1.3rem;
  padding-top: 25px;
  margin: 0 3rem;
  animation: 1.5s ease 5s myFrames3;
  /*animation-fill-mode: forwards;*/
}

.navbar-logo img {
  width: 200px;
  /*background-size: 100%;*/
  padding-left: 10px;
  cursor: pointer;
  padding-top: 20px;
  float: left;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  float: right;
  justify-content: space-between;
}

.navbar-item {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
  padding: 0 1rem;
}

.navbar-links {
  float: right;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-item a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar-item a:hover {
  color: #baff39;
  transition: 750ms ease;
  cursor: pointer;
}

.navbar-btn {
  text-decoration: none;
  margin: 0 2rem;
}

button {
  color: black;
  text-decoration: none;
  width: 100px;
  height: 50px;
  border-radius: 0.5rem;
  float: right;
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  border: 3px solid #baff39;
}

button:hover {
  background-color: darkgray;
  transition: 0.5s ease;
}

.navbar-btn a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

@media screen and (max-width: 1000px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 9;
    width: 100px;
    padding: 0;
  }

  .navbar-menu {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    left: 0;
  }

  .navbar-menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.8rem;
  }

  .navbar-logo img {
    padding-left: 23px;
    margin-top: 20px;
  }

  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar-item {
    width: 100%;
  }

  .navbar-item a {
    font-weight: 400;
    display: flex;
    justify-content: center;
  }

  .navbar-links {
    display: table;
    text-align: center;
    padding: 2rem;
    width: 100%;
  }

  .navbar-btn {
    display: flex;
    justify-content: center;
  }

  .navbar-btn button {
    width: 400px;
    height: 80px;
    cursor: pointer;
  }

  .navbar-btn a {
    font-weight: 600;
    font-size: 1.3rem;
    color: #ffffff;
    text-decoration: none;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar-toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Side nav for socials */

.vl {
  border-left: 6px solid green;
  height: 500px;
  margin-left: 50px;
  margin-top: 700px;
  position: fixed;
  transition: 0.5s;
}

.sidenav {
  height: 100%;
  width: 0;
  transition: 0.5s;
  padding-top: 490px;
  position: fixed;
  z-index: 9;
}

.sidenav a {
  padding: 26px 10px 10px 40px;
  text-decoration: none;
  font-size: 1.85rem;
  color: white;
  display: flex;
  transition: 0.3s;
  text-align: end;
}

.sidenav a:hover {
  color: #baff39;
  transform: translateY(-10px);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.v2 {
  border-left: 6px solid green;
  height: 500px;
  margin-right: 50px;
  margin-top: 675px;
  position: fixed;
  right: 0;
  transition: 0.5s;
}

.email {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  right: 0;
  position: fixed;
  padding-top: 560px;
  margin-right: 43px;
  color: #ffffff;
  transition: 0.5s;
  z-index: 9;
}

.email:hover {
  color: #baff39;
  transition: 0.75s ease;
  transform: translateY(-10px);
}
@media screen and (max-width: 1100px) {
  .v2 {
    display: none;
  }
  .vl {
    display: none;
  }

  .sidenav {
    display: none;
  }

  .email {
    display: none;
  }
}

@media screen and (max-height: 600px) {
  .sidenav {
    padding-top: 50px;
  }
  .vl {
    margin-top: 250px;
  }

  .v2 {
    margin-top: 250px;
  }

  .email {
    padding-top: 140px;
  }
}

/* intro */

.intro {
  width: 100%;
  display: flex;
  margin-top: 100px;
  animation: 2s ease-in 5s Fadein;
  animation-fill-mode: forwards;
  justify-content: space-between;
}

.container1 {
  width: 100%;
  line-height: 2rem;
  color: #ffffff;
  margin-left: 10%;
}

#smalltitle {
  color: #baff39;
  margin-left: 5px;
}

.title {
  line-height: 6rem;
  font-size: 7rem;
  font-family: Cailbre-Regular;
  width: 80%;
  margin-top: 20px;
}

#subtitle {
  font-size: 7rem;
  font-family: Cailbre-Regular;
  width: 80%;
  margin-top: 30px;
  color: #baff39;
  opacity: 0.8;
  line-height: 6rem;
}

.container1 p {
  font-size: 2rem;
  margin-top: 50px;
  width: 60%;
  font-family: Cailbre-Regular;
}

@keyframes Fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding-left: 40px;
  }

  .container1 p {
    margin-left: 70px;
  }

  #smalltitle {
    margin-left: 90px;
  }
}
/* About me */

#aboutme {
  width: 100%;
  display: flex;
  margin-top: 200px;
  justify-content: space-between;
}

.container2 {
  width: 100%;
  line-height: 2rem;
  color: #ffffff;
  margin-left: 10%;
}

.container2 h3 {
  line-height: 6rem;
  font-size: 4rem;
  font-family: Cailbre-Regular;
  width: 80%;
  color: #baff39;
}

.container2 p {
  font-family: Cailbre-Regular;
  width: 80%;
  font-size: 1.6rem;
}

.skills {
  margin-left: 20px;
}
.skills li {
  font-size: 1.3rem;
  cursor: pointer;
}

.skills li:hover {
  color: #baff39;
  transition: 650ms ease-in all;
}

@media screen and (max-width: 1000px) {
  #aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 20px;
  }

  .skills {
    width: 50%;
  }

  .skills li {
    text-align: left;
    margin-top: 20px;
    width: 50%;
  }
}

/* work experience */

#work {
  width: 70%;
  margin-top: 270px;
  height: 400px;
  float: right;
  z-index: 9;
  /*background-color: rosybrown;*/
  margin-right: 10%;
  font-family: Cailbre-Regular;
  color: #ffffff;
  display: none;
}

#work h2 {
  font-family: Cailbre-Regular;
  font-size: 2.6rem;
  color: #baff39;
}

.work2 {
  margin-top: 10px;
  width: 100%;
  line-height: 2rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9rem;
  font-size: 1.5rem;
  font-family: Cailbre-Regular;
}

.buttons {
  z-index: 9;
  line-height: 4rem;
  font-family: Cailbre-Regular;
}
.buttons li {
  list-style: none;
  font-size: 1.7rem;
  font-family: Cailbre-Regular;
  transition: 750ms ease;
  cursor: pointer;
}

.buttons li:hover {
  color: #baff39;
}

.naa {
  width: 40%;
}

#Menu1,
#Menu2,
#Menu3,
#Menu4 {
  font-family: Cailbre-Regular;
  font-size: 1rem;
  line-height: 4rem;
}

/* projects */

.project {
  margin-top: 100px;
  width: 90%;
  margin-left: 90px;
}

.project h2 {
  color: #baff39;
  margin-left: 90px;
  font-family: Cailbre-Regular;
  font-size: 2.5rem;
}

.container4 {
  display: flex;
  justify-content: space-between;
  /*flex-flow: row wrap;*/
  gap: 4rem;
  width: 100%;
  margin-top: 90px;
}

.project1 {
  width: 60%;
}
.project1 h3,
.project1 p {
  line-height: 3rem;
  color: #ffffff;
  font-family: Cailbre-Regular;
  font-size: 1.7rem;
  text-align: center;
}

.project1 h3 {
  color: #baff39;
}

.imgcontainer {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  cursor: pointer;
  transition: 1s ease all;
}

.imgcontainer img {
  width: 100%;
  height: 500px;
  border: 1px solid #baff39;
  border-radius: 10px;
}

.imgcontainer:hover {
  -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
  filter: grayscale(0);
}

@media screen and (max-width: 1000px) {
  .container4 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 7rem;
  }

  .project1,
  .project2 {
    float: none;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    width: 100%;
  }

  .project1 h3,
  .project1 p,
  .project2 h3,
  .project2 p {
    width: 100%;
    line-height: 2rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .imgcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .project h2 {
    display: flex;
  }

  .project {
    margin: auto;
    margin-top: 50px;
  }

  .imgcontainer img {
    width: 100%;
  }
}

/* contact me section */

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.say {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;
}

.say h2 {
  font-size: 2.4rem;
  color: #baff39;
  font-family: Cailbre-Regular;
}

.say p {
  font-size: 1.7rem;
  color: #ffffff;
  width: 90%;
  text-align: center;
  font-family: Cailbre-Regular;
}

.myEmail {
  font-size: 2rem;
  width: 200px;
  height: 50px;
  padding-top: 5px;
  cursor: pointer;
}

.myEmail a {
  text-decoration: none;
  color: #ffffff;
  font-family: Cailbre-Regular;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.foot a {
  text-decoration: none;
  color: #baff39;
  opacity: 0.8;
  padding-bottom: 20px;
}

.links {
  display: none;
}

@media screen and (max-width: 1000px) {
  .links {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .links a {
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 10px;
  }

  .links a:hover {
    color: #baff39;
    transition: 650ms ease all;
  }
}
